<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>今日清单(通过组件化进行重构)</title>
</head>

<body>
    <div id='root'>
        <div>
            <input v-model="input_value" />
            <button @click="handleSumbit">提交</button>
        </div>
        <ul>
            <todo-item v-for="(item, index) of list" :key="index" :content="item" :index="index" @delete="handleDelete">
            </todo-item>
        </ul>
    </div>
    <script>
        // 该组件为全局组件，定义好之后，在模板里都能使用
        // 每个Vue组件,都是Vue实例，都可以添加事件，也都可以使用methods方法
        Vue.component('todo-item', {
            // 在未使用props时，我们会发现我们在添加item时，列表只会显示默认的item，并非是我们输入的值。
            // 此时我们需要使用props: 用来接受外部一个叫content的元素
            props: ['content', 'index'],
            // todo 注意这里的写法！
            // template: '<li>content</li>'
            template: '<li @click="handleClick">{{content}}</li>',
            methods: {
                handleClick: function () {
                    //当handleClick事件触发时，触发delete事件(向父组件发送delete事件)
                    this.$emit('delete', this.index)
                }
            }
        })

        // 改组件为局部组件
        // var TodoItem = {
        //     template: '<li>item</li>'
        // }

        new Vue({
            el: '#root',
            // 局部组件的声明
            // components: {
            //     'todo-item': TodoItem
            // },
            data: {
                input_value: 'hello',
                list: []
            },
            methods: {
                handleSumbit: function () {
                    this.list.push(this.input_value)
                    this.input_value = ''
                },
                handleDelete: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })
    </script>
</body>

</html>