<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.js"></script>
    <title>ToDoList(通过组件重构)</title>
</head>
<body>
    <div id="app">
        <!-- 在input输入框中添加v-model指令，进行数据绑定。当用户点击button按钮时，获取input输入框的值 -->
        <input type='text' v-model='inputValue'/>
        <!-- 在button按钮中添加点击事件，并在app实例中添加methods方法,当点击button按钮时，会触发khandleBtnClick事件 -->
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <!-- v-bind:表示向子组件（todo-item）传递绑定值（content） -->
            <todo-item v-bind:content="item"
                       v-for="item in list">
            </todo-item>
        </ul>
    </div>

    <script>

        // 方法一：使用全局组件
        // Vue.component("TodoItem", {
        //     // 通过props进行参数传递（父组件给子组件传值）
        //     props: ['content'],
        //     template: "<li>{{content}}</li>"
        // })

        // 方法二：使用局部组件
        var TodoItem = {
            props: ['content'],
            template: "<li>{{content}}</li>"
        }    

        var app = new Vue({
            // el：指定元素范围
            el: '#app',

            // 在使用局部组件时需要注册
            components: {
                TodoItem: TodoItem
            },
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                handleBtnClick: function(){
                    // 当该事件触发时，我们会获取inputValue的值
                    this.list.push(this.inputValue)
                    // 然后清空inputValue的值
                    this.inputValue = ''
                }
            }
        })
    </script>
</body>
</html>